<table class={{tableClassNames}}>
  <tbody class="lt-body">
    {{#if overwrite}}
      {{yield columns rows}}
    {{else}}
      {{#each rows as |row|}}
        {{lt-row row columns
          tableActions=tableActions
          canExpand=canExpand
          canSelect=canSelect
          click=(action 'onRowClick' row)
          doubleClick=(action 'onRowDoubleClick' row)}}
      {{/each}}
    {{/if}}
  </tbody>
</table>
